$background: #071115;
$foreground: #fdfdfd;

$black: #131721;
$white: #fdfdfd;
$gray: #10181d;

$color1: #f07178;
$color2: #39bae6;
$color3: #7fd962;
$color4: #f29768;
$color5: #73b8ff;
$color6: #d2a7ff;
