$background: #101010;
$foreground: #f0f0f0;

$black: #202020;
$white: #f0f0f0;
$gray: #10181d;

$color1: #ff5e5b;
$color2: #97dffc;
$color3: #61c9a8;
$color4: #ef8354;
$color5: #618985;
$color6: #b6ccfe;
