$background: #0a1418;
$foreground: #10181d;

$black: #192128;
$white: #a0a09f;
$gray: #10181d;

$color1: #a16757;
$color2: #7452b9;
$color3: #80bb87;
$color4: #E0AF68;
$color5: #4b6a95;
$color6: #0275b8;
