* {
    background-color:      #1e1e2e;
    text-color:            #cdd6f4;
    font: "JetBrainsMono Nerd Font 12";
}

#window {
    width:                 380px;
    y-offset:              -10%;
    padding:               40px;
    border-color:          #89b4fa;
    border:                2px;
    border-radius:         5px;
}
