* {
    background-color:      #111116;
    text-color:            #D8DEE9;
}

#window {
    width:                 380px;
    y-offset:              -10%;
    padding:               40px;
    border-color:          #333333;
    border:                2px;
    border-radius:         5px;
}
