* {
    background-color:      #101010FF;
    text-color:            #F0F0F0FF;
}

#window {
    width:                 380px;
    y-offset:              -10%;
    padding:               40px;
    border-color:          #202020FF;
    border:                2px;
    border-radius:         5px;
}
